.bcatitem{
    margin-top: 80px;
}
.category-row{
    width: 100%;
}
.category__cart-div{
    align-items: center;
}
.category__cart-div span{
    margin: 20px;
    font-weight: 600;
    font-size: 0.9cqi;
    color: var(--black33b4359);
}
.mySwiperD{
    margin-top: 30px;
    height: 40vh;
}
.mySwiperD img{
    background-size: cover;
    height: 95%;
}
.category-mySwiperD__hide{
    display: none;
}
