.centerc{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.centerr{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.arrow-icon{
    position: relative;
}
.arrow-icon::before{
content: '';
border-bottom: 1px solid var( --black33b4359);
height: 7px;
display: block;
border-right:  1px solid var( --black33b4359);
width: 7px;
position: absolute;
right: 85%;
top: 46%;
transform: rotate(43deg);
transition: all 0.3s ease-in;
}
.arrow-icon:hover::before{
    transform:rotate(223deg) 
}