.cardcat-container{
    

}
.cardcat__img{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: 0.9rem;
}
.cardcat__img:hover{
    /* transform: scale(1.5); */
}

  
 
  .circle-wrapper {
    position: relative;
    width: 10cqi;
    height: 10cqi;
    float: left;
    margin: 10px;

  }

  .circle {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: 5px;
    background-clip: content-box;
    animation: spin 20s linear infinite;
  }
  
  .circle-wrapper:hover .circle {
    animation: spin 4s linear infinite;

  }
  .circle-wrapper:hover .cardcat__img{
    transform: scale(1.05);

  }
  
  .success {
    /* background-color: #4BB543; */
    border: 2.5px dashed var(--them);
  }
  @keyframes spin { 
    100% { 
      transform: rotateZ(360deg);
    }
  }
  
 