.Header{
    height: 160px;
    align-items: center;
}
.Header-top{
    border-radius: 15px;
    align-items: center;
    background-color: var(--white1ffffff);
    height: 80%;
    box-shadow: 0 0 15px -10px rgb(0,0,0,0.75);
}
.Header-rightSide{
    justify-content: flex-start !important;
    align-items: center;
}

.Header-rightSide__img{
    border-radius: 50%;
    width:6.5cqi;
    height: 6.5cqi;   
}

.Header-leftSide{
    justify-content: flex-end;
    align-items: center;
}
.Header-leftSide__number-div{
    border-radius: 10px;
    width: 11cqi !important;
    height: 3.5cqi;
    align-items: center;
    background-color:var(--them);
    font-size: 1.2cqi;
    color: var(--white1ffffff);
    position: relative;
    /* background: linear-gradient(to right,rgba(20,165,175,0.1)30%,rgba(250,240,240,0.4)); */

}

.Header-leftSide__number-div::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right,rgba(20,165,175,0.1)30%,rgba(250,240,240,0.4));
}
.Header-leftSide i {
    padding: 1cqi;
    cursor: pointer

}
.Header-leftSide i:hover{
    opacity: 0.7;
}
/* .Header-leftSide div{
  
} */
.Header-leftSide__div{
    margin: 0.3cqi;
    background: linear-gradient(to right,rgba(20,165,175,0.1)30%,rgba(250,240,240,0.4));
background-color: var(--them);
border-radius: 50%;
width: 2cqi;
height: 2cqi;
box-shadow: 0 0 15px -10px rgb(0,0,0,0.75);
}
.header-bottom__col{
    display: flex;
    align-items: center;
    justify-content: flex-start !important;
}
.header-bottom__col__ul> li{
    font-size: 1.9rem;
    padding: 3rem;
    color: var(--black33b4359);
    cursor: pointer;
}
.header-bottom__col__ul > li::after{
content: '';
display: block;
border-bottom:2px solid var(--them) ;
transform: scale(0);
transition: all 0.3s ease-in-out;
}
.header-bottom__col__ul > li:hover::after{
    transform: scale(1);
}
.header-bottom__col__ul__ul{
    width:250px;
    height: 400px;
    padding: unset;
    top: 75px;
    background-color: rgba(255, 255, 255);
    backdrop-filter: blur(30px);
    position: absolute;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    justify-content: flex-start !important;
    box-shadow: 0 0 15px -10px rgb(0,0,0,0.75);
visibility: hidden;
pointer-events: none;
transition: all 1s ease-in-out;
}
.header-bottom__col__ul__ul>li{
    margin: 5px;
    padding: 10px;
}
.header-bottom__col__ul__ul>li{
    font-size: 1.6rem;
}
.header-bottom__col__ul__ul > li:hover{
    background-color: var(--them);
    /* color: var(--white1ffffff); */
    transition: all 0.3s ease-in-out;
    border-radius: 15px;
    width: 240px;
    /* height: 15px; */
}

.header-bottom__col__ul__ul__ul{
    background-color: rgba(255, 255, 255);
    position: absolute;
    min-width: 700px;
    width: fit-content;
    height: 400px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    top: 0;
    right: 250px;
    box-shadow: 0 0 15px -10px rgb(0,0,0,0.75);

}
.arrow-icon:hover>ul{
    visibility: visible;
    pointer-events: visible;
}


