.pindex-swiper-container{
    width: 100%;
    height: 23cqi;
}
.pindex-swiper-row{
    width: 100%;
    height: 100%;
}
.pindex-swiper-col{
    height: inherit;
}
.swiper {
    width: 60rem;
    height: 30rem;
  }
  .img{
    width: 100%;
    height: 100%;
  }